.List{

    .Footer{
        width: 404px;
        display: flex;
        justify-content: space-between;
        border-top: 1px solid #D9D9D9;

        position: absolute;
        bottom: 0;
        align-items: center;

        .Info{
            margin-top: 20px;
            margin-left: 16px;
        }
        .Add{
            cursor: pointer;
            
            padding: 4px;
            margin-top: 20px;
            background: #FFDD2D;
            border-radius: 8px;
            margin-bottom: 8px;
        }
    }
}