.List {
    .Scroll{
    height: calc(100vh - 200px);
    overflow: auto;
    }
  .Footer {
    width: 404px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #d9d9d9;

    position: absolute;
    bottom: 0;
    align-items: center;

    .Info {
      margin-top: 20px;
      margin-left: 16px;
    }
    .Add {
      cursor: pointer;

      padding: 4px;
      margin-top: 20px;
      background: #ffdd2d;
      border-radius: 8px;
      margin-bottom: 8px;
    }
  }
}

.Link {
  text-decoration: none;
  color: black;
}
