.Header {
  background-color: #fafafa;
  height: 52px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  display: flex;

  .Label {
    cursor: pointer;

    position: absolute;
    width: 258px;
    height: 25.56px;
    left: 16px;
    top: 13px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;

    color: #000000;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .Name {
    cursor: pointer;

    position: absolute;
    width: 233px;
    height: 37.9px;
    left: calc(50% - 233px / 2 + 467.5px);
    top: 7.93px;

    background: #ffdd2d;
    border-radius: 8px;

    display: flex;
    align-items: center;

    .NameCont {
      margin-left: 25%;

      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
    }
  }
}
